{% extends 'base.html' %}
{% block content %}
<p class="title">Parabéns, {{ subscription.name }} !</p>
<br/>
<p class="lead">Sua inscrição foi realizada em <strong>{{ subscription.created_at|date:"d/m/Y" }}</strong>.</p>
<p class="lead">Em breve, entraremos em contato pelo
	{% if subscription.phone %}
		telefone <strong>{{ subscription.phone }}</strong>.
	{% else %}
		e-mail <strong>{{ subscription.email }}</strong>.
	{% endif %}
</p>
<a href="{% url 'core:home' %}">Retornar...</a>
{% endblock content %}