/*
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

AUTHOR: Davi Garcia (davivcgarcia@gmail.com)
DATE: 05/21/2014
*/

body {
	padding-top: 50px;
}
.page {
	padding: 80px 15px;
	text-align: center;
}
.title {
	font-size: 50px;
	font-weight: bold;
}

.subscribe_form label {
    width:150px;
    margin-top: 3px;
    text-align: left;
    padding:3px;
}
.subscribe_form input {
    height:35px;
    width:220px;
    padding:5px 8px;
}
.subscribe_form button {
    margin-left:156px;
}

#id_phone_0 {
    width: 40px;
}

#id_phone_1 {
    width: 180px;
}
